
/* Create two equal columns that floats next to each other */
.column-l {
    float: left;
    width: 20%;
    padding: 10px;
    vertical-align: top;
    /*   height: 300px; /* Should be removed. Only for demonstration */
  }
.column-r {
    float: right;
    width: 80%;
    padding: 10px;
    vertical-align: top;
/*    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* items side by side */
  .flex-parent-element {
    display: flex;
    width: 50%;
  }
  
  .flex-child-element {
    flex: 1;
    border: 2px solid blueviolet;
    margin: 10px;
  }
  
  .flex-child-element:first-child {
    margin-right: 20px;
  }
  

h1{
    text-align: center;    
    color: rgb(193, 247, 234);
    text-shadow: 2px 2px #05192f;
    font-size: 50px;
    font-family: Cursive;
    margin-top: 0px;
    margin-bottom: 100px;
}

h2{
    color: rgb(185, 182, 179);
    text-shadow: 2px 2px #05192f;
    font-size: 30px;
    font-family: sans-serif;
}

h3{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #05192f;
    font-size: 20px;
    font-family: monospace sans-serif;
}

.announce {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #05192f;
    font-size: 20px;
    font-family: sans-serif;
}

p {
    color: white
}

ul li{
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 50px;
}

.movies {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #311201;
    font-size: 20px;
}
body{
    width: 80%;    
    margin: auto;    
    padding: 30px;    
    color:rgb(215, 212, 208);
/*    font-size: small;    &/
/*  font-family: fantasy; */
    font-family: Monospace;
/*    background-image: url("timothy-eberly-dTLlhgeEJWg-unsplash.jpg");    
*/
    background-image: url("timothy-eberly-small.jpg");    
    background-size: cover;   
}


button{
    color: white;
    background-color: rgb(85, 24, 1);
    padding: 10px;
    font-family: Monospace;
    font-size: very large;
    font-weight: bold;
}

a:link {
    background-color: yellow;
}  
a:visited {
    background-color: rgb(104, 133, 133);
}
a:hover {
    background-color: rgb(187, 236, 187);
}  
a:active {
    background-color: rgb(112, 211, 55);
}  