<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Recommender </title>
  <link rel="stylesheet" href="/static/styles.css">
</head>


<body>
  <img src="https://storage.googleapis.com/afs-prod/media/e53811360eed4b8ba26b5f635d703a7c/3000.jpeg" 
    width="200px" height="200px">
  <h1>Welcome to the movie page by {{ name }}</h1>
  <h2>Let's watch some movie tonight! </h3>

  <form action="/recommender">
    <p class="announce"> How would you like the recommendations to be? </p>
    <select name="algo">    
      <option value="random">Random</option>
      <option value="rating">Highest ratings</option>    
      <option value="nmf"> Based on your taste if you tell me 3 movies you've watched</option> 
    </select> 
    <br><br> 
    <p class="announce"> Please rate three movies. Choose movie title on the left, 
      and rating (1 to 5) on the right. </p>
    <p class="small">  Yes, for a mysterious reason you still need to do this even if you have chosen 
      Random or Highest ratings. </p>
    {% for indx in range(3) %}
<!--      <label for="title">Movie title:</label>
-->
      <input type="text" id="title" name="title" size="50" placeholder="Enter/choose movie name"
        required list="movie_lst">
 <!--      <label for="rating"> Rating:</label>
 -->
      <input type="number" id="rating" name="Ratings" size="2" placeholder="1-5" 
        min="1" max="5" required>
      <br><br>    
    {% endfor %}           
    <button type="submit">Show Recommentions</button>
  </form>
  <datalist id="movie_lst">    
    {%for mov in movies%}    
    <option value="{{mov}}"></option>    
    {%endfor%}       
  </datalist>
  
</body>

</html>
