<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">       
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Recommendations </title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="row">
    <div class="column-l">
      <img src="https://storage.googleapis.com/afs-prod/media/e53811360eed4b8ba26b5f635d703a7c/3000.jpeg" 
        width="200px" height="200px">
      </div>
    <div class="column-r">
    <h1> Recommendations:</h1>
    <h2> You have watched these movies: </h2>
    <ul class="movies">     
      {% for m in movies_done%}
      <li>{{ m }} </li>
      {% endfor %}
    </ul>

    <h2> Here are the movies recommended for you {{ reason }}:</h2>
    <ul class="movies">     
      {% for m in movies%}
      <li>{{ m }}</li>
      {% endfor %}
    </ul>

  <br><br><br>
    <p>
      <a href="/">Go back to main page</a>
    </p>
  </div></div>

</body>

</html>
